<div class="container d-flex justify-content-center">
    <div class="row">
        <button class="btn btn-primary" (click)="openModal()">Make a loan request</button>
    </div>
    <div class="row">
        <div class="card" *ngFor="let creditRequest of creditRequests">
            <div class="card-header">
                <h4>Loan request {{ creditRequest.id }}</h4>
            </div>
            <div class="card-body">
                <label for="loanAmount">Loan amount: {{ creditRequest.amount }}</label>
                <br>
                <label for="paymentRate">Payment rate: {{ creditRequest.rateNumber }}</label>
                <br>
                <label for="approved">Approved: {{ creditRequest.mounthlyRate }}</label>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Make a loan request</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal(addForm)"></button>
            </div>
            <form #addForm="ngForm" (ngSubmit)="onAdd(addForm)">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" class="form-control" ngModel id="amount" name="amount" required [(ngModel)]="amount" (blur)="updateMonthlyRate()">
                    </div>
                    <div class="form-group">
                        <label for="rateNumber">Rate number</label>
                        <input type="number" class="form-control" ngModel id="rateNumber" name="rateNumber" required [(ngModel)]="rateNumber" (blur)="updateMonthlyRate()">
                    </div>
                    <div class="form-group">
                        <label for="mounthlyRate">Mounthly rate</label>
                        <input type="number" class="form-control" ngModel id="mounthlyRate" name="mounthlyRate" disabled [(ngModel)]="rateCalculate">
                    </div>
                    <div class="form-group">
                        <label for="employmentType">Employment type</label>
                        <select name="employmentType" id="employmentType" class="form-control" [(ngModel)]="employmentType" disabled>
                            <option *ngFor="let option of employTypes" [ngValue]="option">{{ option }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" ngModel id="age" name="age" [(ngModel)]="age" required disabled>
                    </div>
                    <div class="form-group" *ngIf="employmentType != 'UNEMPLOYED'">
                        <label for="startContract">Start contract</label>
                        <input type="date" class="form-control" ngModel id="startContract" name="startContract" [required]="employmentType != 'UNEMPLOYED'">
                    </div>
                    <div class="form-group" *ngIf="employmentType == 'EMPLOYED_PERIOD'">
                        <label for="endContract">End contract</label>
                        <input type="date" class="form-control" ngModel id="endContract" name="endContract" [required]="employmentType == 'EMPLOYED_PERIOD'" [(ngModel)]="endContract">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [disabled]="!addForm.valid">Add</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal(addForm)">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>