.column-50 {
    flex: 50%;
  }
  .parent{
    display: flex;
    flex-wrap: wrap;
  }
  .main-map{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    margin-top: 5%;
    margin-left: 2%;
  }
  
  
  .scroll{
    height: 87vh;
    overflow: auto;
    padding-right: 20px;
  }
  .filter{
    height: 20%;
    width: 100%;
    background-color: #fff;
    border-bottom-width: 2px;
    border-bottom-color: #3b4d79;
    border-bottom-style: solid;
  }
  .filter-item{
    margin-top: 15px;
    margin-left: 20px;
  }
  .mg-p{
    padding: 50px;
    margin-top: 50px;
  }
  