<div class="container d-flex justify-content-center">
    <div class="col-lg-6">
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" ngModel id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" ngModel id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                <button class="btn btn-secondary" (click)="onCancel(loginForm)">Cancel</button>
            </div>
        </form>
    </div>
</div>